<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="message-wrap col-lg-6 col-lg-offset-3">
            <div class="msg-wrap">
                <h4 class="modal-title" id="myModalLabel">Bot conversation</h4>

                <div class="media msg" *ngFor="let message of messages">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" src="http://bootdey.com/img/Content/User_for_snippets.png">
                    </a>
                    <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i></small>
                        <h5 class="media-heading">{{message.userName}}</h5>
                        <small class="col-lg-10" [innerHtml]="message.message"></small>
                    </div>
                </div>
            </div>

            <div class="send-wrap ">

                <textarea [(ngModel)]="message" class="form-control send-message" rows="3" placeholder="Write a reply..."></textarea>


            </div>
            <div class="btn-panel">
                <button class=" col-lg-4 text-right btn   send-message-btn" role="button" (click)="sendBotMessage()"><i class="fa fa-plus"   ></i> Send Message</button>
            </div>
        </div>
    </div>
</div>