<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
        <h3 class="text-muted prj-name">
        <span class="fa fa-users fa-2x principal-title"></span>
        Friend zone
    </h3>
        <div class="jumbotron list-content">
            <ul class="list-group">
                <li href="#" class="list-group-item title">
                    {{info}}
                </li>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" (click)="getFriends()" title="">Friends</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary btm-lg" (click)="getUsers()" title="">Users</button>
                    </div>
                </div>
                <div *ngIf="users && users.length">
                    <input [(ngModel)]="findWord" class="form-control input-sm chat-input" placeholder="Please, enter the username which you looking">
                    <li href="#" class="list-group-item text-left" *ngFor="let user of users | nameFilter:findWord">
                        <img class="img-thumbnail" src="http://bootdey.com/img/Content/User_for_snippets.png">
                        <label class="name">
            {{user.userName}}<br>
        </label>
                        <div class="pull-right">
                        <button id="cFriends" class="btn btn-success btn-xs glyphicon glyphicon-ok" (click)="getCommonFriends(user)" title="Common friends"></button>
                        <button id="Friends" class="btn btn-success btn-xs glyphicon glyphicon-user" (click)="getUserFriend(user)" title="Friends"></button>

                        <button class="btn btn-primary btn-lg glyphicon glyphicon-road" (click)="getPathToFriend(user)" data-toggle="modal" data-target="#countPath"
                            title="Get count path"></button>

                        <a class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" (click)="setTargetUser(user)" data-toggle="modal" data-target="#sendMessage" title="Send message"></a>
                        </div>
                        <div class="break"></div>
                    </li>
                </div>
                
            </ul>

        </div>
    </div>
</div>
<div id="countPath" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Count path to this user is {{countPath}}</h4>
            </div>
            <div class="modal-body">
                <button id="resultData" class="btn btn-success" (click)="getPathToFriendWithResultData(user)">Users path</button>
                <div class="container-fluid">
                    <div class="row">
                        <div class="stepwizard">
                            <div class="stepwizard-row" *ngFor="let result of resultData; let i = index" style="margin-bottom: 0;">
                                <div class="stepwizard-step">
                                    <button type="button" class="btn btn-primary btn-square">{{i}}</button>
                                </div>
                                <div class="jumbotron list-content" style="padding-top: 0; padding-bottom: 0;">
                                    <ul class="list-group">
                                        <li href="#" class="list-group-item text-left">
                                            <img class="img-thumbnail" src="http://bootdey.com/img/Content/User_for_snippets.png">
                                            <label class="name">{{result.userName}}<br></label>
                                            <div class="break"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Excellent</button>
            </div>
        </div>
    </div>
</div>
<div id="sendMessage" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send message to {{targetUser.userName}}</h4>
            </div>
            <div class="modal-body">
                 <textarea [(ngModel)]="message" class="form-control send-message" rows="3" placeholder="Write a reply..." ></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="sendMessage()">Send message</button>
                <button type="button" class="btn btn-alert" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>