/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}


.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}


* { 
  font-family: Arial, Helvetica, sans-serif; 
}





.conversation-wrap {
        box-shadow: -2px 0 3px #ddd;
        padding: 0;
        max-height: 100%;
        overflow: auto;
    }
    
    .conversation {
        padding: 5px;
        border-bottom: 1px solid #ddd;
        margin: 0;
    }
    
    .message-wrap {
        box-shadow: 0 0 3px #ddd;
        padding: 0;
    }
    
    .msg {
        padding: 5px;
        margin: 0;
    }
    
    .msg-wrap {
        padding: 10px;
        max-height: 400px;
        overflow: auto;
    }
    
    .time {
        color: #bfbfbf;
    }
    
    .send-wrap {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px;
    }
    
    .send-message {
        resize: none;
    }
    
    .highlight {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }
    
    .send-message-btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .btn-panel {
        background: #f7f7f9;
    }
    
    .btn-panel .btn {
        color: #b8b8b8;
        transition: 0.2s all ease-in-out;
    }
    
    .btn-panel .btn:hover {
        color: #666;
        background: #f8f8f8;
    }
    
    .btn-panel .btn:active {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }
    
    .btn-panel-conversation .btn,
    .btn-panel-msg .btn {
        background: #f8f8f8;
    }
    
    .btn-panel-conversation .btn:first-child {
        border-right: 1px solid #ddd;
    }
    
    .msg-wrap .media-heading {
        color: #003bb3;
        font-weight: 700;
    }
    
    .msg-date {
        background: none;
        text-align: center;
        color: #aaa;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }
    
    body::-webkit-scrollbar {
        width: 12px;
    }

    
    ::-webkit-scrollbar {
        width: 6px;
    }

    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    }

    
    ::-webkit-scrollbar-thumb {
        background: #ddd;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd;
    }
    
    
    
    
    
    
    .list-content .list-group .title {
        background: #5bc0de;
        border: 2px solid #DDDDDD;
        font-weight: bold;
        color: #FFFFFF;
    }
    
    .list-group-item img {
        height: 50px;
        width: 50px;
    }
    
    .jumbotron .btn {
        padding: 5px 5px !important;
        font-size: 12px !important;
    }
    
    .prj-name {
        color: #5bc0de;
    }
    
    .break {
        width: 100%;
        margin: 20px;
    }
    
    .name {
        color: #5bc0de;
    }
    
    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }
    
    .stepwizard-row {
        display: table-row;
    }
    
    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
    
    .stepwizard-row:before {
        position: absolute;
        top: 0px;
        content: " ";
        width: 1px;
        height: 100%;
        background-color: #ccc;
    }
    
    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
        left: -15px;
        z-index: 1;
    }
    
    .btn-square {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
    }
    
    .jumbotron .list-content {}
    
        .conversation-wrap {
        box-shadow: -2px 0 3px #ddd;
        padding: 0;
        max-height: 100%;
        overflow: auto;
    }
    
    .conversation {
        padding: 5px;
        border-bottom: 1px solid #ddd;
        margin: 0;
    }
    
    .message-wrap {
        box-shadow: 0 0 3px #ddd;
        padding: 0;
    }
    
    .msg {
        padding: 5px;
        margin: 0;
    }
    
    .msg-wrap {
        padding: 10px;
        max-height: 400px;
        overflow: auto;
    }
    
    .time {
        color: #bfbfbf;
    }
    
    .send-wrap {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px;
    }
    
    .send-message {
        resize: none;
    }
    
    .highlight {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }
    
    .send-message-btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .btn-panel {
        background: #f7f7f9;
    }
    
    .btn-panel .btn {
        color: #b8b8b8;
        transition: 0.2s all ease-in-out;
    }
    
    .btn-panel .btn:hover {
        color: #666;
        background: #f8f8f8;
    }
    
    .btn-panel .btn:active {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }
    
    .btn-panel-conversation .btn,
    .btn-panel-msg .btn {
        background: #f8f8f8;
    }
    
    .btn-panel-conversation .btn:first-child {
        border-right: 1px solid #ddd;
    }
    
    .msg-wrap .media-heading {
        color: #003bb3;
        font-weight: 700;
    }
    
    .msg-date {
        background: none;
        text-align: center;
        color: #aaa;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }
    
    body::-webkit-scrollbar {
        width: 12px;
    }
    
    ::-webkit-scrollbar {
        width: 6px;
    }
    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    ::-webkit-scrollbar-thumb {
        background: #ddd;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd;
    }
    
    
    
