<div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
        <p class="lead">Register now for Doge messanger</p>
        <form>
            <div class="form-group">
                <label for="userName" class="control-label">Username</label>
                <input type="text" [(ngModel)]="user.UserName" id="userName" maxlength="20" minlength="6" class="form-control input-sm chat-input"
                    required title="Please enter you username" aria-describedby="inputSuccess1Status">
                <span class="help-block">Enter your username</span>
            </div>
            <div class="form-group">
                <label for="userPassword" class="control-label">Password</label>
                <input type="password" [(ngModel)]="user.Password" maxlength="20" minlength="6" id="userPassword" class="form-control input-sm chat-input"
                    required placeholder="******" aria-describedby="inputSuccess2Status">
                <span class="help-block">Enter your password</span>
            </div>
            <div class="form-group">
                <label for="userPassword" class="control-label">Confirm password</label>
                <input type="password" [(ngModel)]="confirmPassword" maxlength="20" minlength="6" id="reuserPassword" class="form-control input-sm chat-input"
                    required placeholder="******" aria-describedby="inputSuccess2Status">
                <span class="help-block">Enter your password</span>
            </div>
            <button (click)="addUser()" type="submit" class="btn btn-success btn-block">Sign up</button>
            <div id="loginErrorMsg" class="alert alert-error">
                {{response}}
            </div>
        </form>
    </div>
</div>