<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row row-centered">
    <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
        <div class="row  row-centered">
            <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                <h4 class="modal-title" id="myModalLabel">Login to Doge messanger</h4>
                <div class="well">
                    <form novalidate>
                        <div class="form-group">
                            <label for="userName" class="control-label">Username</label>
                            <input type="text" [(ngModel)]="user.UserName" id="userName" class="form-control input-sm chat-input" title="Please enter you username"
                                aria-describedby="inputSuccess1Status">
                            <span class="help-block">Enter your username</span>
                        </div>
                        <div class="form-group">
                            <label for="userPassword" class="control-label">Password</label>
                            <input type="password" [(ngModel)]="user.Password" id="userPassword" class="form-control input-sm chat-input" placeholder="******"
                                aria-describedby="inputSuccess2Status">
                            <span class="help-block">Enter your password</span>
                        </div>
                        <button (click)="loginUser()" type="submit" class="btn btn-success btn-block">Login</button>
                        <div id="loginErrorMsg" class="alert alert-error">
                            {{status}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>