<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="conversation-wrap col-lg-3 col-lg-offset-2">
            <div class="media conversation" *ngFor="let message of messages" (click)="getDialog(message.fromUser, message.toUser)">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 50px; height: 50px;" src="http://bootdey.com/img/Content/User_for_snippets.png">
                </a>
                <div class="media-body">
                    <b><h4 class="media-heading">{{message.fromUser}}</h4></b>
                    <small [innerHtml]="message.message"></small>
                </div>
            </div>
        </div>
        <div class="message-wrap col-lg-5">
            <div class="msg-wrap">
                <div class="media msg" *ngFor="let dialog of dialogs">
                    <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" src="http://bootdey.com/img/Content/User_for_snippets.png">
                    </a>
                    <div class="media-body">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> {{dialog.timeOfSending}}</small>
                        <h5 class="media-heading">{{dialog.fromUser}}</h5>
                        <small class="col-lg-10" [innerHtml]="dialog.message"></small>
                    </div>
                </div>
            </div>
            <div class="send-wrap ">
                <textarea [(ngModel)]="message" class="form-control send-message" rows="3" placeholder="Write a reply..." ></textarea>
            </div>
            <div class="btn-panel">
                <button class=" col-lg-4 text-right btn   send-message-btn" role="button" (click)="sendMessage()"><i class="fa fa-plus"   ></i> Send Message</button>
            </div>
        </div>
    </div>
</div>