<div class="container">
    <nav class="navbar navbar-default navbar-inverse" role="navigation" style="margin-left: 150px;margin-right: 150px; ">
        <div class="container-fluid">
            <div class="navbar-header">

                <button class="btn-lg" style="margin-top: 10px; margin-right: 20px; margin-bottom: 10px; ">Doge Messanger</button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <button class="btn-lg btn-primary" [routerLink]="['Friends']" style="margin-top: 10px">Friends</button>
                    <button class="btn-lg btn-primary" [routerLink]="['Messages']" style="margin-top: 10px">Messages</button>
                    <button class="btn-lg btn-primary" [routerLink]="['Bot']" style="margin-top: 10px">Bot</button>
                    <button class="btn-lg btn-success" [routerLink]="['Login']" style="margin-top: 10px; margin-left: 50px">Sign in</button>
                    <button class="btn-lg btn-info" [routerLink]="['Registration']" style="margin-top: 10px">Sign up</button>
                    <button class="btn-lg btn-warning"  (click)="logout()" style="margin-top: 10px">Logout</button>
                </ul>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>